<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke automation scripts">
    <test name="Check currency">
        <packages>
            <package name="com.oanda.currency.*"/>
        </packages>
    </test>
    <test name="Check data">
        <packages>
            <package name="com.oanda.data.*"/>
        </packages>
    </test>
    <test name="Check tjat user can change currency">
        <packages>
            <package name="com.oanda.select.*"/>
        </packages>
    </test>
</suite>